/*Variables*/
$font-size: 25px;
$font-weight: bold;
$height: 100px;
$left: 0px;
$s-color: blue;
$top: 450px;
$width: 100px;

/*loops*/
$class-slug: s !default

@for $i from 0 to 7{
  .#{$class-slug}#{$i+1}
  {
    background-color: $s-color + $i*20       
  }
  .#{$class-slug}#{$i+1}
  {
    left: $left + $i*75;     
  }   
  .#{$class-slug}#{$i+1}
  {
    top: $top - $i*75;     
  }   
}

/*CSS*/
.squares{
    position: relative;
}
.square {
  border: 1px solid black;
  color: white;
  font-size: $font-size;
  font-weight: $font-weight;
  height: $height;
  line-height: $height;
  position: absolute;
  text-align:center;
  width: $width;
}

.s2 {
  z-index: 3;
}

.s3 {
  z-index: 2;
}

.s4 {
  z-index: 0;
}

.s5 {
  z-index: 0;
}

.s6 {
  z-index: 2;
}