.squares{
    position: relative;
}
.square {
    border: 1px solid black;
    color: white;
    height:100px;
    line-height: 100px;
    position: absolute;
    text-align:center;
    width:100px;
    font-weight: bold;
    font-size: 25px;
}
.square.A {
    background-color: #FC030F;
    left: 0px;
    top: 525px;
}
.square.B {
    background-color:#FC3700;
    left: 75px;
    top: 450px;
    z-index: 3;
}
.square.C {
    background-color: #FCF407;
    left: 150px;
    top: 375px;
    z-index: 2;
}
.square.D {
    background-color: #000000;
    left: 225px;
    top: 300px;
    z-index: 0;
}
.square.E {
    background-color:#3CE504;
    left: 300px;
    top: 225px;
    z-index: 0;
}
.square.F {
    background-color:#040FE5;
    left: 375px;
    top: 150px;
    z-index: 2;
}
.square.G {
    background-color:#6300A5;
    left: 450px;
    top: 75px;
}